#theme_navigation_button{
	font-size: 1.5em;
	padding-left:2em;
	padding-right:2em;
	display:inline;
}

#theme_date_display {
	font-size:1em;
	display:inline;
}

#theme_navigation_button_previous, #theme_navigation_button_next{
	cursor: pointer;	
}