#theme_navigation_button{
	width:45%;
	float:left;
	font-size: 1.5em;
}

#theme_date_display {
	width:10%;
	float:left;
	font-size:1em;
	padding:0.1em;
}

#theme_navigation_button_previous, #theme_navigation_button_next{
	cursor: pointer;	
}