html, body {
    margin: 0em;
    padding: 0em;
    border: 0em;
    font-family:"Times New Roman", Times, serif;
}

#background { 
	position: fixed; 
	top: 0; 
	left: 0;
	
	/* We don't want to display the image until we've resized it */
	display:none;
}
.background_width{ 
	width: 100%; 
}
.background_height{ 
	height: 100%;
}

#logo_container{
	position: relative;
	float:right;
	padding:50px;
	font-size:3em;
}

#footer {
	position:absolute;
	bottom: 0em;
  	width: 100%;
  	right: 0em;
   	height: 2em;
   	text-align:center;
   	padding-bottom:1.2em;
}
