html, body {
    margin: 0em;
    padding: 0em;
    border: 0em;
    font-family:"Times New Roman", Times, serif;
    background-image:url('images/patterns/02.jpg');
}


#logo_container{
	background-repeat:no-repeat;
	position: relative;
	float:right;
	height:140px;
	width:270px;
	padding:50px;
}


#footer {
	position:absolute;
	bottom: 0em;
  	width: 100%;
  	right: 0em;
   	height: 2em;
   	text-align:center;
   	padding-bottom:1.2em;
}
