.sidebar {
	position: relative;
	float: left;
	
	/* Uncomment this if we want to sidebar to be layerd over everything else. */
	/*z-index: 10000;*/
}

.sidebar_overlay, .sidebar_slip {
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40);
}

.sidebar_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

.sidebar_content {
	position: relative; /* Fixes the z-index */
	float: left;
	font-size: 0.8em;
	padding: 0.5em;
	width: 15em;
}

.sidebar_slip {
	position: relative; /* Fixes the z-index */
	float: left;
    cursor: pointer;
}


#description_title{
	font-weight:bold;
	padding-left: 0.2em;
}

#description_content{
	/*text-align:justify;*/
	padding: 0.7em;
}

#project_description{
	height:40%;
}

#theme_description{
	height:30%;
}

#contribution_buttons{
	height:10%;
	padding-bottom:1em;
}

#contribution_button_container{
	padding:0.2em;	
}

.contribution_button{
	width:11em;	
}