html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:"Times New Roman", Times, serif;
}
#sidebar, #canvas, #footer{
    position: absolute;
}
#sidebar {
    top: 0px;
    width: 200px;
    bottom: 0px;
}
#sidebarslip {
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
    cursor: pointer;
    /*opacity:0.4;*/
	/*filter:alpha(opacity=40);*/ /* For IE8 and earlier */
}
#canvas {
    top: 0px;
    left: 200px;
    right: 0;
    bottom: 0px;
    min-height:100%;
}

#footer {
	bottom: 0px;
	
  	/*left: 200px;*/
  	width: 100%;
  	
  	right: 0;
   	height:20px;   /* Height of the footer */
   	text-align:center;
}

#next_theme_button, #previous_theme_button {
	cursor: pointer;
}