/* Background image */
html, body {
    background-image:url('images/patterns/02.jpg');
}

/* Logo for this theme */
#logo_container{
	background-image:url('images/logos/project_logo_01.gif');
}

/* Background colour of sidebar. */
.sidebar_overlay, .sidebar_slip{
	background: #faf;
}

/* Text colour of footer */
#footer{
	color: rgb(75,84,94);
}

/* Button colours. */
.contribution_button{
	background-color:rgb(88,100,123);
	border-color:rgb(170,186,223);
	color: rgb(75,38,34);
}

/* Colour of the buttons when the mouse pointer hovers over a button. */
.contribution_button:hover {
    color:#fff;
}

/* Colour of the buttons when the mouse pointer clicks on a button. */
.contribution_button:active {
	color:#ff1;
}